/* mypage-nav */
section.mypage .mypage-nav {
  padding: 30px 0 100px;
}
section.mypage .mypage-nav h2 {
  text-align: center;
  margin-bottom: 25px;
}
section.mypage .mypage-nav .nav-wrap {
  border: 2px solid #E5E5E5;
  display: grid;
  grid-template-columns: 1fr 1px 1fr 1px 1fr;
  padding: 30px 0;
  box-sizing: border-box;
}
section.mypage .mypage-nav .nav-wrap a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  color: #000000cc;
}
section.mypage .mypage-nav .nav-wrap .line {
  height: 100%;
  width: 1px;
  background-color: #E5E5E5;
}

section.notice.order,
section.notice.delivery {
  padding: 0;
}
section.notice.order .notice-table .table-header,
section.notice.order .notice-table .table-row {
  grid-template-columns: 1fr 1fr 300px 1fr 1fr 1fr;
}
section.notice.order .notice-table .table-row {
  padding: 10px 0;
}
section.notice.order .notice-table .table-row .img-wrap {
  width: 70px;
  height: 70px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

section.notice.delivery .notice-table .table-header,
section.notice.delivery .notice-table .table-row {
  grid-template-columns: 1fr 300px 1fr 1fr 1fr 1fr;
}

section.notice.delivery-status {
  padding: 10px 0 0;
}
section.notice.delivery-status .table-header {
  background-color: #FFEC9333;
}
section.notice.delivery-status .notice-table .table-header,
section.notice.delivery-status .notice-table .table-row {
  grid-template-columns: 1fr 1fr 1fr;
}
section.notice.delivery-status .notice-table .table-row p:nth-child(2) {
  text-align: center;
}