<div class="mypage-nav">
  <div class="max-1200">
    <h2>마이페이지</h2>
    <div class="nav-wrap">
      <a href="/mypage">
        <img src="/static/images/number1.png" alt="">
        <span>회원정보 관리</span>
      </a>
      <div class="line"></div>
      <a href="/mypage_order">
        <img src="/static/images/number2.png" alt="">
        <span>주문조회</span>
      </a>
      <div class="line"></div>
      <a href="/mypage_delivery">
        <img src="/static/images/number3.png" alt="">
        <span>배송조회</span>
      </a>
    </div>
  </div>
</div>