<div class="bottom-nav">
	<div class="wrap">
		<div class="item" onclick="location.href='/sign_up'">
			<img src="/static/images/bottomNav1.png" alt="">
			<p>회원가입</p>
		</div>
		<div class="item">
			<img src="/static/images/bottomNav2.png" alt="">
			<p>이벤트</p>
		</div>
		<div class="item" onclick="location.href='/'">
			<img src="/static/images/bottomNav3.png" alt="">
			<p>HOME</p>
		</div>
		<div class="item" onclick="location.href='/'">
			<img src="/static/images/bottomNav4.png" alt="">
			<p>MY</p>
		</div>
		<div class="item" onclick="location.href='/고객센터/코인충전'">
			<img src="/static/images/bottomNav5.png" alt="">
			<p>코인충전</p>
		</div>
	</div>
</div>