<header>
	
	<div class="gnb">
		<div class="max-1200">
			<div class="gnb-wrap">
				<span class="open-sidenav" onclick="openNav()">&#9776;</span>
				<div class="logo" onclick="location.href='/'">
					<picture>
						<source media="(min-width:900px)" srcset="/static/images/logo_sample.png">
						<img src="/static/images/logo_sample.png" alt="">
					</picture>
				</div>
				<div class="gnb-menu">
          {% if user.is_authenticated %}
					<!-- <a href="/mypage">마이페이지 ({{user.email}})</a> -->
					<a href="{% url 'account_logout'%}">로그아웃</a>
					{% else %}
					<a href="/signin">로그인</a>
					<a href="/signup">회원가입</a>
          {% endif %}
          <a href="/product/cart">장바구니</a>
				</div>
			</div>
		</div>
	</div>
  <div class="gnb gnb--sub">
    <div class="max-1200">
      <div class="gnb-wrap">
        <a href="">회사소개</a>
        <a href="/product/list">제품소개</a>
        <a href="/announcement">공지사항</a>
        <a href="/inquiry">1:1문의</a>
        <a href="/mypage">마이페이지</a>
      </div>
    </div>
  </div>

</header>