<!-- sidenav -->
<div id="mySidenav" class="sidenav">
	<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  {% if not user.is_authenticated %}
	<div class="login-suggestion">
		<h3>
			로그인을 하시면
			<br>간편하게 상담예약이 가능합니다.
		</h3>
		<div class="btn-group">
			<a href="/sign_up">회원가입</a>
			<a href="/sign_in">로그인</a>
		</div>
	</div>
  {% endif %}
	<a href="/고객센터/이용안내">이용안내</a>
	<a href="/상담/타로">타로상담</a>
	<a href="/상담/신점">신점상담</a>
	<a href="/상담/사주">사주상담</a>
	<a href="/상담후기">상담후기</a>
	<a href="/고객센터/코인충전">코인충전</a>
	<a href="/고객센터/1:1문의">1:1 문의</a>
	<a href="/고객센터/공지사항">공지사항</a>
  <a href="/고객센터/이벤트">이벤트</a>
	<a href="">상담사 모집</a>
	<a href="">SNS/칼럼</a>
  {% if user.is_authenticated %}
  <a href="javascript:void(0)" class="mypage-dropdown">
    마이페이지
    <span class="material-symbols-outlined">expand_more</span>
  </a>
  <div class="mypage-menu">
    <a href="/mypage">회원정보</a>
    <a href="/mypage_info_master">마스터정보</a>
    <a href="/mypage_payment">결제내역</a>
    <a href="/mypage_usage">상담내역</a>
  </div>
  {% endif %}
</div>